@font-face {
    font-family: century;
    src: url(../Font/GOTHIC.TTF);
}

*{
    font-family: century;
}

body{
    background: url(../Images/17973908.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
    color: black;
}

#head1{
    text-align: center;
}

.title{
    font-size: 40px;
}

.title > img{
    width: 10%;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
#list{
    margin-top: 130px;
    text-align: center;
    font-size: xx-large;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#list > p{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    animation: tomber 0.7s linear;
    -webkit-animation: tomber 0.7s linear;
}

#list > p > a {
    padding: 5% 10% 5% 10%;
}

#list > :nth-child(1){
    background: linear-gradient(45deg,cyan,cyan,transparent);
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    animation-delay: .1s;
}
#list > :nth-child(2){
    background: linear-gradient(45deg,violet,violet,transparent);
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    animation-delay: .1s;
}
#list > :nth-child(3){
    background: linear-gradient(45deg,greenyellow,greenyellow,transparent);
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    /* animation-delay: .3s; */
}
#list > :nth-child(4){
    background: linear-gradient(45deg, green,green,transparent);
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    /* animation-delay: .1s; */
}

#list > :nth-child(1):hover{
    background: linear-gradient(45deg,cyan,cyan,cyan);    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#list > :nth-child(2):hover{
    background: linear-gradient(45deg,violet,violet,violet);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#list > :nth-child(3):hover{
    background: linear-gradient(45deg,greenyellow,greenyellow,greenyellow) ;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#list > :nth-child(4):hover{
    background: linear-gradient(45deg, green,green,green);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}


/*.gauche{
    transform: translateX(-80px);
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    -o-transform: translateX(-80px);
}

.droite{
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
}*/



@keyframes tomber {
    0%{
        transform: translateY(-200px);
        -webkit-transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        -o-transform: translateY(-200px);
}
    20%{
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
    }
    50%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    70%{
        transform: translateY(-70px);
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        -o-transform: translateY(-70px);
}
    80%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
    85%{
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
}
    90%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    95%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    100%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}


