@font-face {
    font-family: century;
    src: url(../Font/GOTHIC.TTF);
}

*{
    text-align: center;
    font-family: century;
    color: white;
}

body{
    background: linear-gradient(black,gray,#00ffff);
    background-repeat: no-repeat;
    height: 95vh;
    color: white;
}


h1{
    animation: normal 2s title;
    -webkit-animation: normal 2s title;
}

@keyframes title {
    0%{
        transform: translateX(-400px);
        -webkit-transform: translateX(-400px);
        -moz-transform: translateX(-400px);
        -ms-transform: translateX(-400px);
        -o-transform: translateX(-400px);
}

    100%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}


#entete{
    font-size: 20px;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: white 2px solid;
}

#grand-div {
    background: black;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: #00ffff 3px ridge;
}

.nbr{
    width: 50px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #00ffff,#00ffff,white );
    color: black;
    border: inherit;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
}

#button{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 5px;
    border: inherit;
    margin: 2%;
    color: black;
}

#button:active{
    box-shadow: 0 0 5px inset black;
    background: gray;
}

legend{
    background: #032139;
    padding: 9px;
    color: white;
    border: white 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0,5s linear;
    -webkit-transition: 0,5s linear;
    -moz-transition: 0,5s linear;
    -ms-transition: 0,5s linear;
    -o-transition: 0,5s linear;
}

sup{
    font-size: small;
}

#lien{
    position: absolute;
    transform: translate(-20px, -30px);
    -webkit-transform: translate(-20px, -30px);
    -moz-transform: translate(-20px, -30px);
    -ms-transform: translate(-20px, -30px);
    -o-transform: translate(-20px, -30px);
}

.src{
    width: 40px;
    margin: 40px;
    float: right;
}

@media (max-width: 690px){
    #entete{
        font-size: 20px;
    }
}



ul{
    position: relative;
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}
ul > .nav-li {
    flex: 1;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: -10px;
    padding: 10px;
}

ul > .nav-li > a{
    color: black;
    text-decoration: none;
    padding: 5px 30% 5px 30%;
    margin-left: -40px;
    margin-right: -40px;
}


@media (max-width:400px) {
    ul > .nav-li > a {
        font-size: 10px;
    }
}

ul > :nth-child(2) {
    background-color: #00ffff;
}


html{
    animation: 1s normal entrer;
    -webkit-animation: 1s ease-in-out entrer;
}

@keyframes entrer {
    0%{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
        opacity: 0;
}
    100%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
}
}